h1 {
    text-align: center;
    align-self: center;
    letter-spacing: 0.4em;
}

body {
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    background-color: gray;
    color: white;
    padding: 0.5%;
    text-transform: capitalize;
}

p {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    text-indent: 2em;
}

em {
    color: red;
    font-style: italic;
}

strong {
    background-color: white;
    font-weight: bold;
}