.container {
    height: 50px;
    width: 300px;
    background-color: orange;
    clear: both;
    float: left;
    margin: 10px;
    transition: transform 1s linear;
}

.container:hover {
    transform: rotate3d(100, 100, 100, 90deg);
}

.container:active {
    margin: 30px 10px;
}