* {
    /*border: 1px solid red; */
}

hr {
    margin: 0;
}

body {
    width: 1190px;
}

header {
    width: 590px;
    display: inline;
    float: left;
}

nav {
    width: 590px;
    display: inline;
    text-align: right;
}

nav li a {
    color: rgb(85, 84, 84);
    text-decoration: none;
}

#navList li {
    font-size: 1.3em;
    background-color: rgb(230, 230, 230);
    padding-left: 2px;
    padding-right: 2px;
}

nav li {
    list-style: none;
    display: inline;
}

#tabs {
    margin-left: -20px;
    display: inline;
    margin-bottom: 0;
}

#lenguajes {
    display: inline;
}

#tabs_lang {
    display: inline;
}

#tabs li {
    list-style: none;
    display: inline;
    font-size: 1.3em;
    background-color: rgb(230, 230, 230);
    padding-left: 4px;
    padding-right: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#lang {
    display: inline;
    text-align: right;
    float: right;
    margin-bottom: 0;
}

#lang li {
    list-style: none;
    display: inline;
    font-size: 1.3em;
    background-color: rgb(230, 230, 230);
    padding-left: 4px;
    padding-right: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#program {
    /* margin-right: 300px;*/
    width: 890px;
}

#program_text {
    display: inline;
    width: 690px;
    float: left;
    margin: 0;
}

#program_text p {
    /*width: 690px;*/
    display: inline;
}

#img_program {
    float: right;
    width: 190px;
    margin-right: 10px;
    margin-left: 0px;
    display: inline;
}

#what_about {
    display: inline;
    width: 490px;
    margin-right: 10px;
    float: left;
    margin-top: 50px;
}

#schedule {
    display: inline;
    width: 390px;
    float: left;
}

.postit {
    width: 290px;
}